<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>web 性能优化</title>
    <link rel="dns-prefetch" href="https://new-domain.com" />
  </head>
  <body>
    <!-- 这是html注释 -->
    <div>这是第一个页面</div>
    <img src="<%= require('images/test.jpg')%>" alt="test image" class="test-img" />
    <!-- HTML 引入图片 -->
    <!-- ejs语法，可以html-webpack-plugin解析 -->
    <img src="<%= require('images/note.png')%>" alt="test icon" class="test-icon" />
    <div class="test-css-icon"></div>
    <!-- 雪碧图 -->
    <div class="sprite-container">
      <div class="sprite1"></div>
      <div class="sprite2"></div>
      <div class="sprite3"></div>
      <div class="sprite4"></div>
    </div>
    <a href="child.html">第二个页面</a>

    <div id="react-root"></div>
    
    <!-- 列表 -->
    <div>列表</div>
    <ul id="list-container"></ul>
    <button type="button" id="add-list-item-event">添加列表项</button>

    <button type="button" id="transform-event">变形</button>
    <!-- 使用cdn引入 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/react/17.0.1/umd/react.production.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/react-dom/17.0.1/umd/react-dom.production.min.js"></script>
  </body>
</html>